---

lets_encrypt_domain: "example.com"
lets_encrypt_email: "<email>"

# For AWS S3 information see:
# http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

admin_user_emails: "first@example.com,second@example.com"
aws_s3_access_key_id: "<key>"
aws_s3_bucket: "<bucket>"
aws_s3_host_name: "<host-name>"
aws_s3_region: "<region>"
aws_s3_secret_access_key: "<key>"
devise_secret_key: "<random-string>"
facebook_key: "<key>"
facebook_secret: "<secret>"
paperclip_hash_secret: "<random-string>"
rails_env: "production"
secret_key_base: "<secret>"
