[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/current
ExecStart=/home/ubuntu/.gem/ruby/2.3.0/bin/bundle exec puma -C /home/ubuntu/current/config/puma.rb --daemon
ExecStop=/home/ubuntu/.gem/ruby/2.3.0/bin/bundle exec pumactl -S /home/ubuntu/current/tmp/puma/pid stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
